@using IndiceAcademico.Models;
@model Enrollments

<form action="Enrollments/Index" , method="post">
    <label asp-for="SubjectId">Asignatura</label>

    @if (ViewBag.success == 1)
    {
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <label>Registro guardado exitosamente</label>
                </div>
            </div>
        </div>

    }
    <select asp-for="SubjectId">

        @foreach (var item in ViewBag.subject)
        {
            <option value="@item.ID">@item.Code - @item.Name</option>
        }
    </select>
    <label asp-for="StudentId">Asignatura</label>
    <select asp-for="StudentId">
        @foreach (var item in ViewBag.students)
        {
            <option value="@item.ID">@item.Code - @item.LastName, @item.Name</option>
        }
    </select>
    <button type="submit">Guardar</button>
</form>
@section Scripts{
<script>
    $('#exampleModal').modal('show');
</script>
}